@if (showNavbar) {
<div class="header">
    <div>
        <div>
            Bart Robat.
        </div>
        <div class="button" [routerLink]="'projects'" routerLinkActive="button-activated">
            Projects
        </div>

        <div class="button" [routerLink]="'about'" routerLinkActive="button-activated">
            About
        </div>

        <div class="button" [routerLink]="'blog'" routerLinkActive="button-activated">
            Blog
        </div>
    </div>
    <div>
        <div class="button" (click)="toggleNavbar()">
            X
        </div>
    </div>
</div>
} @else {
<div class="small-header">
    <div (click)="toggleNavbar()">
        X
    </div>
</div>
}