<div class="content">

    <div class="title">
        <h2>
            Not much here ... for now.
        </h2>
        <p>
            Here are some things I've published for now. The rest of the stuff is on my instagram <a
                href="https://www.instagram.com/bart_robat/" target="_blank">here</a>.
        </p>
        <p>
            Besides that, projects I've made for clients are available on the about page. (they're mostly internal applications)
        </p>
        <!-- <span>
            Here is a library of software stuff I made. The rest is on my instagram <a href="https://www.instagram.com/bart_robat/" target="_blank">here</a>
        </span> -->
    </div>

    <div class="blocks">
        <div class="image-container">
            <div class="tile" [routerLink]="'sols'">
                <div>
                    <h5>
                        SOLS
                    </h5>
                    <p>
                        A Simple Organism Life Simulator on a planet. Enjoy looking at the little creatures spreading
                        and fighting over resources.
                    </p>
                </div>
                <img src="./assets/images/sols.png" alt="img">
            </div>
        </div>

        <div class="image-container">
            <div class="tile" [routerLink]="'galaxy-sim'">
                <div>
                    <h5>
                        Galaxy sim
                    </h5>
                    <p>
                        Even simpler galaxy simulation written in threejs and making use of GPGPU.
                    </p>
                </div>
                <img src="./assets/images/galaxy-sim.png" alt="img">
            </div>
        </div>
    </div>
</div>


<div class="footer">

</div>