<div class="content">

    <div class="title">
        <h2>
            Hi, I'm Bart.
        </h2>
    </div>

    <div class="blocks">
        <div class="image-container">
            <div class="image">
                <img class="img" src="../../assets/images/kiwi.jpeg" alt="Kiwi kiwi kiwi">
            </div>
            <span>This is my cat Kiwi.</span>
        </div>

    </div>
    <div class="text">
        <div class="blocks">
            <p>
                I should introduce myself somehow.
            </p>

            <p>
                <!-- Besides cats I like to make things. I'm constantly working on something. -->

            </p>
        </div>
    </div>
</div>