<div class="content">

    <div class="title">
        <h2>
            Hi, I'm Bart.
        </h2>
    </div>

    <div class="blocks">
        <div class="image-container">
            <div class="image">
                <img class="img" src="../../assets/images/kiwi.jpeg" alt="Kiwi kiwi kiwi">
            </div>
            <span>This is my cat Kiwi.</span>
        </div>

    </div>
    <div class="text">
        <div class="blocks">
            <p>
                I'm a web developer with a strong focus on frontend technologies, particularly Angular and WebGL. I've
                been working with Angular since 2017 and have developed a deep interest in creating interactive visual
                experiences using Three.js and WebGL. My passion lies in building simulations and applications that
                combine creativity with technical depth.
            </p>
            <p>
                Beyond the screen, I enjoy building and experimenting with 3D printing. Most notably assembling
                (printing) my own
                Voron 2.4 printer from the ground up (<a
                    href="https://www.instagram.com/p/CnrhbhrD9N9/?img_index=1">here are some photos of the
                    process</a>). I'm also an avid learner, using tools like Anki to study Japanese
                and deepen my knowledge across a range of topics. As for sports my favourite is <a
                    href="https://en.wikipedia.org/wiki/Olympic_weightlifting">weightlifting</a> or in
                other words: lifting heavy stick from the ground and putting it back down.
            </p>
            <p>
                With a background in theoretical physics, I'm comfortable navigating abstract concepts (not afraid of
                math) and applying that
                rigor to both code and design. In addition to programming, I also have some background in audio
                engineering and sometimes do some experimental music oscillating
                between black metal, vocaloids and algorithms (<a href="https://www.youtube.com/watch?v=mqpmKjUCck8">as
                    can be seen and heard here</a>).
            </p>



        </div>
        <div class="blocks">
            <p>
                Contact: <a href="https://www.linkedin.com/in/bart%C5%82omiej-tabor-80a146152/">here</a> (linkedin) or
                <a href="https://github.com/BRobat">here</a> (github).
            </p>

        </div>
    </div>
</div>