body {
    background-image: url(assets/solmyr.jpg);
    background-size: cover;
    min-height: 200vh;
    background-repeat: repeat;
    background-attachment: fixed;
}

h1 {
    padding-top: 10vh;
}


div.planets{
    background-color: rgb(39, 39, 39);
    height: 100vh;
}

div.oblivion {
    background: none;
    background-attachment: fixed;
    height: 100vh;
    z-index: 20;
    position: relative;
}

div.projects {
    background-color: rgb(39, 39, 39);
    height: 100vh;
}


div.sun {

}